.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.cart-container{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart-image{
    width: 50%;
    height: 50;
    margin: 20px 0px;
    border-radius: 20px;
}

.empty-cart-para{
    font-size: 20px;
    color: #4CAF50;
    font-weight: 600;
    margin: 10px 0px;
}

.cart-item-fetch-cont{
    display: flex;
    width: 100%;
    justify-content: flex-start ;
    
}

.cart-item-fetch-cont{
    padding: 0px;
}

.cart-item-fetch-cart-items{
    padding: 0px;
    margin: 0px;
    width: 70%;
    border: 1px solid #4CAF50;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
}

.cart-item-fetch-everu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4CAF50;

}

.cart-item-fetch-everu-item h1{
    font-size: 18px;
    font-weight: 500;
    color:#019c13;
    width: 30%;
    border-radius: 10px;    
}

.cart-item-fetch-everu-item p{
    font-size: 12px;
    font-weight: 500;
    color:#202020;
}

.cart-item-fetch-everu-item button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

}


.delete-icon{
    font-size: 20px;
}

.cart-item-fetch-right-cont{
    width: 30%;
    border: 1px solid #202020;
    margin: 10px;
    padding: 10px;
    min-height: max(340px , 50%);
    max-height: 240px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cart-item-fetch-cart-items{
    padding: 0px 10px;
}

.total-price-one{
    background-color: #ff9c39;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 8px 12px;
    color:white !important; 
}

.cart-heading{
    font-size: 30px;
    margin: 20px;
    font-weight: 500;
    color:#4CAF50;

}

.address-checkout{
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 8px 16px;
    outline: none;
    margin-bottom: 10px;
}

.cart-item-fetch-right-cont h1{
    font-size: 20px;
    font-weight: 600;
    color:#4CAF50;
}

.cart-item-fetch-right-cont p{
    font-size: 16px;
    font-weight: 500;
    color:#1c1c1c;
}

.cart-item-fetch-right-cont button{
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #4CAF50;
    background-color: white;
    transition: all 0.4s ease-in-out;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}


.place-order-one{
    background: linear-gradient(to right,rgb(0, 255, 200),rgb(255, 0, 234), rgb(0, 94, 255),#ff8000, #009105);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;}
.cart-item-fetch-right-cont button:hover .place-order-one{
    -webkit-text-stroke: 0.2px #03bcf4;}

.checkout-error-cont {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  

.checkout-error-msg{
    background-color: rgb(255, 190, 78);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 16px;
}

.success-popup-cont{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-inner{
    width: 60%;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    border-radius: 50px;
}

.success-inner h1{
    color: #4CAF50;
    font-size: 24px;
    font-weight: 500;
    font-family: cursive;
}

.success-image{
    width: 80%;
    border-radius: 50px;
    background-color: white;

}

.header{
    position: relative;
}

.show-profile-cont{
    position: absolute;
    top: 55px;
    right: 60px;
    background-color: #ff9c39;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.show-profile-cont p{
    margin: 10px;
    padding: 0px;
cursor: pointer;
padding: 4px 8px;
font-size: 12px;
font-weight: 500;

}


.show-profile-cont p:hover{
    background-color: #ffb770;
    border-radius: 5px;
}

.overall-amount-para{
    background-color: #019c13;
    border-radius: 4px;
    margin-right: 4px;
    padding:8px 12px;
    color: #ffffff;
}
.cart-item-fetch-everu-item div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.cart-items-type-selections{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;

}

.select-default-one{
    background-color: #999999;
}

.select-default-one:hover{
    background-color: #999999 !important;
}


.cart-items-type-selections select{
    width: 48%;
    border: 1px solid #009105;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .empty-cart-image{

        height: 30% !important;
        margin: 0px 0px 10px 0px;
        border-radius: 10px;
    }
    .cart-heading{
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .cart-item-fetch-everu-item{
        border-collapse: collapse   ;
        flex-direction: column;
        justify-content: flex-start;
    }

    .cart-item-fetch-everu-item h1{
        text-align: flex-start;
        align-self: flex-start;
        width: 100%;
        margin-bottom: 0px;
    }

    .cart-item-fetch-everu-item div{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .cart-item-fetch-right-cont button:hover .place-order-one{    
        color:transparent;
    
    }.cart-item-fetch-right-cont button{
        font-size: 20px;
        font-weight: 600;
        border: 1px solid #4CAF50;
        background: white;
        padding: 10px 16px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
    }
    .cart-item-fetch-right-cont button:hover{
        background-position: none;
    
    }
}