.every-item-name{
    font-size: 20px;
    font-weight: 600;
    color: #ffaa00;
    margin: 0px 0px 10px 0px;
}

.every-item-cont{
    background-color: white;
    border-radius: 10px;
}

.every-item-name-cont{
    padding: 10px 20px;
}

.every-item-price-cont{
align-items: center;

}

.every-item-price{
    margin-bottom: 0px !important;padding: 0px;
}

.every-item-quantity{
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    outline: none;
}

.every-item-btn{
    background-color: #ff842c;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 16px 0px 8px 0px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.need-login-message{
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}



.need-login-message-para{
    color:white;
    background-color: #ff842c;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
}