.main-items-cont{

    display: flex;
    flex-direction: column;    background-color: #F0FFF0;
}

.main-items-cont-bottom{
    display: flex;

    flex-grow: 1;
}

.main-items-bottom-left-cont{
    width: 20%;

}

.main-items-left-cont{
    width: 90%;
    margin: 0px;
    padding: 0px;
}

.main-items-bottom-left-cont{
    border-right: 1px solid #4CAF50;
}
.main-items-left-cont-item{
    display: flex;
    align-items: center;
    margin: 20px 10px;
}

.main-items-left-cont-item:hover{
    background-color: #7eff83;
    cursor: pointer;
    border-radius: 20px;
}

.main-items-left-cont-item:hover .main-items-left-cont-item-name{
    color: white;
}

.main-items-left-cont-item-img{
    width: 50px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.main-items-left-cont-item-name{
    font-size: 16px;
    color: #4CAF50;
    font-weight: 600;
    margin: 5px 0px;
}


.main-items-left-cont-item-main{
    border-bottom: 1px solid #4CAF50;
    padding: 10px 0px;
}

.main-items-bottom-right-cont{
    width: 80%;

}

.main-items-bottom-right-cont-head-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.main-items-bottom-right-cont-head-cont h1{
    color: #4CAF50;
    font-size: 24px;
    font-weight: 600;
    margin: 5px;
    font-family: cursive;
}

.main-items-search-cont{
    display: flex;
    align-items: center;
    position: relative;
    width: 25%;
}

.search-input{
    padding: 8px 10px;
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchOne{
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.search-icon{
    color: #4CAF50;
}

.main-items-bottom-right-cont-list{
    display: flex;  
    flex-wrap: wrap;

}

.every-item-cont{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

.every-item-img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.fruit-image{
    width: 100%;
    height: 170px;
    border-radius: 10px 10px 0px 0px;
}

.every-item-price-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.every-item-price{
    font-size: 14px;
    font-weight: 600;
    color: #141414;
    margin:  0px 0px 10px 0px;
}

.main-items-bottom-right-cont-list{
    justify-content: space-evenly;
    padding: 0px;
}

.selected-item-style{
    background-color: #baffbc;
    border-radius: 20px;

}

.selected-item-style h1{
    color: white !important;
} 

.main-items-bottom-right-cont{
    display: flex;
    flex-direction: column;
}

.loading-main-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.empty-view-items-cont{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-item-image{
    width: 30%;
    border-radius: 20px;
    background-size: cover;
}


.empty-view-items-head{
    color:#4CAF50;
    font-size: 20px;
    font-weight: 500;
}

.empty-view-items-button{
    background-color: #7eff83;
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.empty-view-items-button:hover{
    color: white;
    background-color: #4CAF50;
}

@media screen and (max-width : 767px) {
    .main-items-bottom-left-cont{
        width: 40% ;
    }
    .every-item-cont{
        width: 40%;
    }

    .main-items-search-cont{
        width: 50%;
    }
    .fruit-image{
        height: 100px;
    }
    .empty-cart-image{
        height: 300px;
        width: 80%;
    }
    .main-items-left-cont-item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-items-left-cont-item-img{
        width: 80%;
        height: 50px;
    }
    .login-sub-container{
        width: 90%;
        flex-direction: column !important;
        height: auto !important;
        justify-content: flex-start !important;
            }
    .login-image{
        width: 100%;
    }
    .login-reigeter-image-container{
        width: 100%;
        
    }
    .login-line-cont{
        display: none;
    }
    .login-form-container-change{
        width: 100%;
}
    .register-main-container{
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        width: 90%;
    }
    .cart-item-fetch-cont{
        flex-direction: column;
        align-items: center;
    }
    .cart-item-fetch-cart-items{
        width: 90%;
    }
    .cart-item-fetch-right-cont{
        width: 90%;
    }
    .header{
        height: 70px;
    }
    .show-profile-cont{
        right: 0;
    }
    .orders-view-main-each-item{
        flex-direction: column !important;
    }
    .login-form{
        width: 100%;
    }
    .lagout-admin{
        display: block;
    }
    .main-items-cont-bottom{
        flex-direction: column;

    }
    .main-items-bottom-left-cont{
        display: flex;
        border: none;
        width: 100vw;
        overflow-x: scroll;
    }
    .main-items-left-cont{
        display: flex;
        align-items: center;
    }
    .main-items-left-cont-item{
        min-width: 30%;
        display: flex;
        padding-top: 0px !important;   
        flex-direction: column;

    }
    .main-items-left-cont-item:hover{
        background-color: initial;
        cursor: none;
        border-radius: none;
    }
    .selected-item-style{
        padding: 0px;
    }
    .main-items-left-cont-item-img{
        width: 100%;
        height: 70px;
        margin: 0px;
        border-radius: 8px;
    }
    .main-items-left-cont-item-main{
        border: none;
        padding: 10px;
        margin-top: 30px;
        width: 50% !important;
        border-right: 2px solid  #ffde4a;

    }
    .main-items-left-cont-item:hover .main-items-left-cont-item-name{
        color: #4CAF50;
    }
    
    .selected-item-style{
        border-radius: 8px;
        box-shadow: 0px 0px 5px 0px #7eff83;
    }
    .selected-item-style .main-items-left-cont-item-name{
        color: rgb(75, 75, 75);
    }
    .main-items-left-cont-item-name{
        font-size: 14px;
    }
    .main-items-bottom-right-cont{
        width: 100%;
        margin: 0px;        
        background-color: rgb(255, 244, 214);
        padding: 0px;
    }
    .main-items-bottom-right-cont-head-cont h1{
        margin-top: 0px;
        padding-top: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    .main-items-bottom-right-cont-list{
        margin: 0px;
        justify-content: center;
    }
    .main-items-bottom-right-cont{
        flex-grow: 1 !important;
        height: 100% !important;
    }
    .main-items-cont{
        min-height: 100vh;
    }

    .main-items-cont{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .miain-bottom{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .main-items-cont-bottom{
        flex-grow: 1 !important;
        min-height: 100% !important;
    }
    .loading-main-cont{

        margin-top: 40%;
        align-items: flex-start;
    }
}