.header{
    width: 100%;    background-color: #4CAF50;
    padding: 10px 20px;
    height: max(70px , 10vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    }
.header-right-container{
    display: flex;
    align-items: center;
}

.header-heading{
    color: white;

    margin: 0px;
    font-weight: 600;
    font-size: 24px;
    font-family: cursive;    
}

.header-right-items{
    margin: 0px;

}

.header-right-items{
    color:white;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

.header-specieal-head{
    background-color: white;
    color: #4CAF50;
    padding: 0px 2px;
    margin-right: 2px;
    border-radius: 2px;
}


.header-icon{
    color: white;
    font-size: 16px;
    margin: 0px 4px;
}



.header-right-items-cont{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.header-login-one{
    background-color: #C8E6C9;
    color: #333333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}


@media screen and (max-width : 767px) {
    .header-right-items{
        display: none;
    }
    .main-header{
        margin: 0px;
        width: 95%;
    }
    .header{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}